{% extends 'base.html' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block content %}

	<div class="features">
		<h1>{{ title }}</h1>
		{% if cars %}
			{% for car in cars %}
					<div class="alert alert-warning">
					<p class "first">Дата объявления: {{ car.time_create|date:'d-m-Y' }}</p>
					<p class "date">Год выпуска {{ car.date }}</p>
					<h3>Автомобиль {{ car.brand }} {{ car.model }}</h3>		
					{% if car.photo %}
						<p><img class="picture_img" src="{{car.photo.url}}">
					{% endif %}
					<p> {{ car.text|linebreaks|truncatewords:50 }} </p>
					<a href="{{ car.get_absolute_url }}" class="btn btn-warning">Читать</a>
					</div>
			{% endfor %}
		{% else %}
				На данный момент нет объявлений
		{% endif %}
	</div>
{% endblock %}
