{% load static %}
{% load car_tags %}
<!doctype html>
<html lang='ru'>
<head>
    <meta charset='UTF=8'>
    <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>{% block title %}{% endblock %}</title>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href="{% static 'car/css/car.css' %}">
    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    {% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
            <li class="logo"><a href="{% url 'car:home' %}"><div class="logo"></div></a></li>
            {% for m in menu %}
                    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <li class="last"> {{ user.username }} | <a href="{% url 'car:logout' %}"> Выйти </a></li>
            {% else %}
            <li class="last"><a href="{% url "car:login" %}"> Войти </a></li>
            <li class="last"><a href="{% url "car:register" %}"> Регистрация </a></li>
            {% endif %}
            </ul>
            <div class="clear"></div>
        </div>
    {% endblock mainmenu %}
    <aside>
        <a href="{% url 'car:home' %}" class='logocar'>CarSale</a>
            <ul>
                {% if button == None %}
                {% if posts %}
                    {% if cat_selected == 0 %}
                        <a><li><span class="selected"> Все категории </span></li></a>
                    {% else %}
                        <a href="{% url 'forum:forum' %}"><li><i class="fa-solid fa-car-side"></i> Все категории </li></a>
                    {% endif %}
                    {% show_categories 'name' cat_selected %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'forum:add_post' %}"><li><button class="btn btn-info">Добавить пост</li></a>
                    {% endif %}

                {% else %}
                    {% if cat_selected == 0 %}
                        <a><li><span class="selected"> Все категории </span></li></a>
                    {% else %}
                        <a href="{% url 'car:home' %}"><li><i class="fa-solid fa-car-side"></i> Все категории </li></a>
                    {% endif %}
                    {% categories_car  'name' cat_selected %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'car:add' %}"><li><button class="btn btn-info">Добавить объявление</li></a>
                    {% endif %}
                {% endif %}
                {% endif %}
                
            </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
        {% if page_obj.has_other_pages %}
          <nav class="list-pages">
            <ul>
              {% if page_obj.has_previous %}
                <li class="page-num">
                  <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
              {% endif %}
            {% for p in page_obj.paginator.page_range %}
              {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
              {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                  <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                  </li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-num">
                  <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
              {% endif %}
          </ul>
        </nav>
        {% endif %}    
    </main>
    <tr><td valign=top>
        <div id="footer">
            <p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
        </div>
    </td></tr></table>

</body>
</html>
